body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-advent-pro: "Advent Pro";
  --font-arvo: Arvo;
  --font-antonio: Antonio;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --font-size-77xl: 96px;
  --font-size-13xl: 32px;
  --font-size-xl: 20px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-black: #000;
  --color-gainsboro: #e0e2db;
  --color-crimson: #e62e2e;
  --color-goldenrod: #e6af2e;

  /* border radiuses */
  --br-31xl: 50px;
  --br-36xl: 55px;
  --br-81xl: 100px;
}
